/**
 * Hook42 - based on Sky theme for reveal.js.
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,500,700,400italic,500italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

// Hook42 fonts
$lightblue: #6880b0;
$darkblue: #303e5b;
$orange: #d86543;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Open Sans', sans-serif;
$mainColor: $darkblue;
$headingFont: 'Quicksand', sans-serif;
$headingColor: $lightblue;
$headingLetterSpacing: -0.08em;
$headingTextShadow: darken( $orange, 20% );
$backgroundColor: #fefefe;
$linkColor: $lightblue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: lighten( $lightblue, 20%);

$heading1Size: 2.25em;
$heading2Size: 1.75em;
$heading3Size: 1.25em;
$heading4Size: 1.00em;

// Fix links so they are not cut off
.reveal a {
	line-height: 1.3em;
}

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( #ddd, #fff );
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Change selectors after template.
.reveal a {
	color: $orange;
	&:hover {
		color: darken( $orange, 20% );
	}
}

.reveal section img {
	border: none;
	box-shadow: none;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	letter-spacing: -0.05em;
}

.reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	text-transform: none;
}

.reveal ul.ul__centered {
	padding: 0 20%;
}

.reveal {
	.text__dark {
		color: $darkblue;
	}
	.text__light {
		color: $lightblue;
	}
	.text__small {
		font-size: 80%;
	}
	.text__large {
		font-size: 120%;
	}
	.text__bold {
		font-weight: 500;
	}
	.module-files {
	  font-size: 25px;
	}
}

.reveal {
	.slide-number {
		position: fixed;
		display: block;
		right: 8px;
		bottom: 8px;
		z-index: 31;
		font-family: Helvetica, sans-serif;
		font-size: 12px;
		line-height: 1;
		color: #FFF;
		background-color: #6880B0;
		border-radius: 20px;
		padding: 7px;
		min-width: 12px;
	}
	.smaller-font {
		font-size: 30px;
	}

	.font-25 {
		font-size: 25px;
	}
	.font-20 {
		font-size: 20px;
	}
	.font-16 {
		font-size: 16px;
	}
	.font-15 {
		font-size: 15px;
	}
	.font-14 {
		font-size: 14px;
	}
	.font-10 {
		font-size: 10px;
	}

	.left {
		float: left;
		width: 49%;
	}
	.right {
		float: right;
		width: 49%;
	}

	.left-40 {
		width: 45%;
		float: left;
	}
	.right-60 {
		width: 55%;
		float: right;
	}
	.left-60 {
		width: 55%;
		float: left;
	}
	.right-40 {
		width: 45%;
		float: right;
	}

	.no-margin {
	  margin-top: 0px;
	  margin-bottom: 0px;
	}
	.bibliography {
		h3 {
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
	.bib {
		display: inline-block;
		width: 450px;
		text-align: left;
    vertical-align: text-top;
	}
}
